# Python backend
.venv/
__pycache__/
*.pyc

# React/Vite frontend
node_modules/
dist/
build/

# Environment files
.env
.env.*
!.env.example

# Editor & OS cache
.vscode/
.idea/
.DS_Store

# Local DB files
*.sqlite3
*.db